@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
h1.widget-title:before {
    content: url('../MainIcon.jpg');
}
h1
{
    color: white;
    font-family:  'Bilbo Swash Caps' ;
    /*font-style: oblique;*/
    letter-spacing: 2px;
    
   
}
th, td,tr {
    padding: 35px;
    text-align: left; 
      
  }
  
body
{
    background-image: url(../Bg.jpg);
    background-repeat: no-repeat;
    background-size: unset;
    background-color:black;
    min-height: 100vh;
    background-attachment: fixed;
}
.cv h2,h5,p{
    padding-left:30px ;
    color: white;
    
}
.cv {
    padding-left: 70px ;
    border: 1px solid white;
    border-style: solid;
    border-color: white;
    
    color: white;
    padding-top: 20px ;
    
}

.navigation
{
    position:fixed;
    width: 60px;
    height: 900px;
    background: #1e0124;
    transition: 0.5s;
    overflow: hidden;
}
.navigation:hover
{
    width: 300px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover
{
    background: dimgray;
}
.navigation ul li a
{
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fa
{
    font-size: 25px;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  .quote {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
    font-family:  'Bilbo Swash Caps' ;  
  }
  .Project{
      text-align: left;
      padding-left: 70px;
      padding-top: 20px;
      color: white;
      padding-right: 600px;
  }
  .Project h1,h2{
      border-style: double;
      text-align: center;
  }